@mixin button() {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0.6em 1.2em;
  font-size: 14px;
}

.controlPanel {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.currentYearMonth {
  font-size: 22px;
  font-weight: bold;
  color: #666;
}

.prevButton,
.nextButton {
  @include button();
  background: #fff;
  color: #1976d2;

  &:hover {
    background: #1976d21a;
  }
}

.toCountingButton {
  @include button();
  background-color: #f9f9f9;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  margin-left: auto;

  &:hover {
    background: darken(#f9f9f9, 10);
  }
}


