/**
 * ::backdrop => Dialogの背景(Overlay)の疑似要素
 * :modal     => DialogタグをshowModal()で表示した際の疑似セレクタ
 */

.dialog {
  border-radius: 4px;
  padding: 0;
  min-width: 380px;
  min-height: 500px;
  color: #666;

  @media screen and (max-width: 400px) {
    min-width: inherit;
    width: 90%;
  }
}

.dialog::backdrop {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}

.dialog:modal::backdrop {
  opacity: 1;
  animation: fadein 0.15s ease-in; /** backdropに表示アニメーションを付与 */
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;;
}

.content {
  color: #666;
  padding: 1.5em 2em;

  @media screen and (max-width: 400px) {
    padding: 1em 1em;
  }
}
