body {
  color: rgba(0, 0, 0, 0.87);
}
main {
  padding: 79px 24px 24px
}

table {
  border-collapse: collapse;
  width: 100%
}
tr {
  border-bottom: 1px solid #e0e0e0;
}
th, td {
  padding: 0 10px;
}
th {
  position: relative;
  text-align: left;
  font-weight: normal;
  height: 56px;

  & + th::after {
    content: '';
    display: block;
    height: 14px;
    width: 2px;
    background: #e0e0e0;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 0;
  }
}
td {
  height: 52px;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.25s;
}

dialog {
  border: none;
}

select,
input[type="date"],
input[type="text"] {
  margin-left: auto;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 200px;
  padding: 16px 14px;
  color: #666;
  line-height: 1;
}
select {
  cursor: pointer;
  appearance: none;
}