.contentsContainer {
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 7px;
  border-radius: 5px;

  @media screen and (max-width: 400px) {
    padding: 15px 10px;
  }
}

.tableSection:not(:last-of-type) {
  margin-bottom: 40px;
}

.tableTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tableWrapper {
  width: 100%;
  overflow: auto;
}

.table {
  font-size: 14px;
}

.table th {
  position: sticky;
  top: 0;
  background: #fff;

  &:nth-of-type(1) {
    width: 100px;
  }
  &:nth-of-type(2) {
    width: 80px;
    text-align: right;
  }
  &:nth-of-type(3) {
    width: 80px;
  }
}

.table td {
  &:not(:nth-of-type(1)) {
    text-align: right;
  }
}
